.page{
  width: 100%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}
.title-page{
  width: 100%;
  float: left;
  margin-bottom: 40px;
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #202020;
}
